.App {
  display: flex;
  flex-direction: row;
  width: 96rem;
  margin: 4rem auto;
  justify-content: space-between;
}

.app__container--right {
  display: flex;
  flex-direction: column;
}

.pointer:hover {
  cursor: pointer;
}